<!DOCTYPE html>
<html>
<head>


<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<meta charset="UTF-8">

<title>Room Selection</title>
</head>
<body>

	Create Room :
	<br>
	<br>
	<form action="/" method="post">

		Name: <br> <input type="text" name="name"><br> <br> Length: <input type="number" value="50" name="length" min=5><br> <br> <input type="submit" value="Submit">

	</form>

	<br>
	<br> {% if id is defined %} Game ID is {{ id }}
	<br>
	<br> localhost:8080/{{ id }}
	<br>
	<br> http://lasting-tappers.appspot.com/{{ id }} {% endif %}
	
	<br>
	<br>
	<a href="{{loggout}}"> Log Out </a>
	
</body>
</html>